/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e72e2e;
}

.stopwatch {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}
